* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: rgb(17, 0, 255);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid inherit;
    background-image: url(./images/road-wallpaper-3840x2160-vibrant-colors-scenic-view-12465.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.register-form {
    width: 600px;
    height: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: rgba(197, 197, 197, 0.205);
}

.title-text {
    text-align: center;
    font-size: 30px;
    color: azure;
}

.email-input {
    width: 500px;
    height: 35px;
    padding: 5px;
    color: gray;
}

.email-input:focus {
    outline: none;
}

.password-input {
    width: 500px;
    height: 35px;
    padding: 5px;
    color: gray;
}

.password-input:focus {
    outline: none;
}

.checkbox-container {
    width: 500px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.checkbox-label {
    font-size: 15px;
    color: azure;
}

.submit-button {
    width: 500px;
    height: 35px;
    text-align: center;
    background-color: green;
    color: beige;
    border: none;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: rgba(196, 196, 196, 0);
    color: black;
    border: 1px solid black;
}

.signup-section {
    width: 500px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider-line {
    width: 120px;
    height: 1px;
    border: 1px solid gray;
}

.signup-text {
    color: aliceblue;
    font-size: 15px;
}

.social-links {
    width: 500px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-links a {
    text-decoration: none;
}

.facebook-button {
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background-color: rgb(12, 0, 121);
    border: none;
}

.facebook-button:hover {
    background-color: #ffffff00;
    border: 1px solid rgb(199, 199, 199);
}

.facebook-icon {
    width: 20px;
    height: 20px;
}

.facebook-text {
    color: beige;
    text-decoration: none;
    font-size: 18px;
}

.twitter-button {
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background-color: rgb(0, 153, 255);
    border: none;
}

.twitter-button:hover {
    background-color: #ffffff00;
    border: 1px solid rgb(199, 199, 199);
}

.twitter-icon {
    width: 20px;
    height: 20px;
}

.twitter-text {
    color: beige;
    text-decoration: none;
    font-size: 18px;
}

.google-button {
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background-color: rgb(255, 70, 70);
    border: none;
}

.google-button:hover {
    background-color: #ffffff00;
    border: 1px solid rgb(199, 199, 199);
}

.google-icon {
    width: 20px;
    height: 20px;
}

.google-text {
    color: beige;
    text-decoration: none;
    font-size: 18px;
}

.footer-text {
    color: aliceblue;
}